<h1>{{ name }}</h1>

<dl>
  <td>Nombre:</td>
  <dd>{{ name }}</dd>

  <td>Nombre capitalizado</td>
  <dd>{{ capitalizedName }}</dd>

  <td>Edad: </td>
  <dd>{{ age }}</dd>

  <td>Descripcion: </td>
  <dd>{{ getHeroDescrption() }}</dd>

  <button class="btn btn-primary mx-2" (click)="changeHero()" *ngIf="name !== 'Spiderman'">
    Cambiar nombre
  </button>

  <button class="btn btn-primary mx-2" (click)="changeAge()" *ngIf="age !== 25">
    Cambiar edad
  </button>

  <button class="btn btn-primary mx-2" (click)="resetForm()">
    Reset
  </button>
</dl>
